/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:Montserrat, Cabin, sans-serif;
   


   --color-neutral-light:#6aa84f;
   --color-neutral-medium:#999191;
   --color-neutral-dark:#343030;

   --color-main-light:#e5f1f2;
   --color-main-medium:#4ba0a8;
   --color-main-dark:#0a4349;

   --color-white:#fff;
   --color-black:#111;

   --color-neutral-green:#6aa84f;
  --color-neutral-orange:#ff9f6f;

   --header-height:4rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-sans);
   color: var(--color-main-dark);
}

hr {
  color: var(--color-neutral-light);
}

a {
   color:inherit;
   text-decoration:none;
   font-weight:bold;
}


/* background color */

.bg-light {
  background-color: var(--color-main-light)
}



/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }




.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}
.no-touch { pointer-events:none; }
.do-touch { pointer-events:all; }

.welcome {
  margin-left: 2em;
}





/* PAGE ELEMENTS */
/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
[data-role="footer"],
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: var(--color-white);
   box-shadow:-6px 6px 20px 6px rgb(149 173 103 / 17%);

   position:relative;
   overflow:hidden;
}

.ui-link img{

  width: 20px;
}

.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}

.ui-title a img{
  width: 40px;
}

.ui-checkbox {
  width: 50%;
}

.ui-input-search {
  border: 1px solid var(--color-main-light);
  border-radius: 1em;
}

[data-role="header"] {
  background-color:white;
}

[data-role="header"] img {
  width: 30%;
}

[data-role="footer"] {
  text-align: center;
  height: var(--header-height);
}

[data-role="button"] {
  padding: 0;
  /*margin-left: 5%;*/
}

/*[data-role="footer"] img {
  width: 30%;
}*/

.overscroll {
  overflow: auto;
  height: 100%;
    width: 100%;
}


/* logo */
.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  margin-bottom:50px;
}


/* Navigation Elements */
.header a,
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

.header a,
[data-role="header"] a {
  padding: 0 1em;
}


.header {
  width:100%;
   height: var(--header-height);
   line-height: var(--header-height);
}


[data-page-link].active {
  background-color: var(--color-main-dark);
    height: 5px;
}


/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}
.modal-popup.small {
  width:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-drawer.modal-card {
  padding:1em;
  box-shadow:none;
}
.modal-card .modal-body {
  border-radius: 2em 0.5em 2em 0.5em;
  box-shadow: 0px 3px 20px 6px rgb(156 181 108 / 61%);
  background-color:var(--color-main-light);
}




.modal-head,
.modal-foot {
  background-color:var(--color-main-light);
  padding:1.5em 1em;
}
.modal-body {
  background-color:var(--color-white);
  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}


/* FORM ELEMENTS */
.form-control {
    margin: 1em 0;
}
.ui-mobile .form-label {
    margin: 1em 0;
    font-size: 0.7em;
    color: var(--color-main-dark);
}
.form-input,
.form-button,
.form-select select {
    webkit-appearance:none;
}
.form-input {
    width: 100%;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font:inherit;
}

.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border-width:0;
    background-color:var(--color-neutral-light);
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    cursor:pointer;
    color: #ffffff;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;

  
}

.form-button:before {
 content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  bottom: -5px;
  left: 30px;
  right: 30px;
  z-index: -1;
  border-radius: 30em;
  filter: blur(20px) brightness(0.95);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.form-button:hover {
  filter: brightness(1.05) contrast(1.05);
  transform: scale(0.95);
  background-color: #6aa84fa3;
}

.form-button:hover:before {
  
  content: "";
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -5px;
  left: 30px;
  right: 30px;
  z-index: -1;
  border-radius: 30em;
  filter: blur(20px) brightness(0.95);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;

}

.form-select {
   position: relative;
}
.form-select>select {
   display:inline-block;
   width:100%;
   border-width:0;
   background-color:white;
   padding:0.5em 2em 0.5em 1em;
   border-radius:0.3em;
   font:inherit;
   outline:0;
   position:relative;
   overflow:hidden;
   -webkit-appearance:none;
}
.form-select::after {
   position:absolute;
   top:50%;
   right:0.5em;
   content:'▼';
   font-family:arial;
   font-size:0.9em;
   color:var(--color-neutral-dark);
   pointer-events:none;
   transform: translateY(-50%);
}
.hotdog {
    display: inline-flex;
    width: 100%;
    border-radius: 0.8em 0.5em 0.8em 0.5em;
    border: 2px solid var(--color-neutral-green);
     background-color:var(--color-white);
}
.hotdog>input {
    flex: 1;
    background-color: transparent;
    border-width: 0;
    line-height: 2.5;
    padding: 0 1em;
    outline: 0;
    font-size: inherit;
}
.hotdog.hovering {
    background-color:var(--color-white);
    box-shadow:0px 0px 20px 4px rgb(191 195 186);
    border-radius: 0.8em 0.5em 0.8em 0.5em;
    border: 2px solid var(--color-neutral-green);
}



/* MAP */
#recent-page {
  background-color: var(--color-main-light);
}

#recent-page [data-role="main"] {
  background-image: url('../images/map.png');
  background-position: center;
  background-color: var(--color-main-light-light);
  background-size: cover;
}

.map-icon-text img{
  height: 2em;
}

/* LIST */
#list-page {
  color: var(--color-main-dark);
}

.search {
  margin-top: 3vh;
}

.search form {
  width: 95%; 
  height: 5vh; 
  margin: 0 auto;
}

.sort {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.sort .ui-btn {
  padding: 0.3em 20px;
}

.sort .ui-select {
  border: 1px solid var(--color-main-light);
  border-radius: 1em;
  margin-left: 3%;
}

#list-page .overscroll ul {
  list-style-type: none;
  padding: 0;
}

#list-page .overscroll ul li {
  margin-bottom: 2vh;
  box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
  padding: 15px 10px;
}

 #list-page .overscroll ul li img {
  width: 18%;
  align-self: center;
  padding: 7px;
}

.list-item-text {
  margin-left: 8%;
}

.list-item-text h3 {
  margin: 1vh 0;
  font-weight: 600;
}

.list-item-text p {
  margin: 0;
  font-weight: 400;
}


/* PROFILE */
.profile-box{
  display: flex;
  padding: 20px;
}

#profile-page {
  color: var(--color-main-dark);
}

.profile-username {
  margin-left: 5px;
  font-size: 1.5em;
  font-weight: 600;
      margin-top: auto;
    margin-bottom: auto;
  
}

.display-data {
  margin-top: 4vh;
}

.display-number,
.display-text {
  display: flex;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

.display-number {
  font-size: 1.5em;
}

.display-number p,
.display-text p {
  margin: 0 auto;
}

.display-number img {
  width: 10%;
  height: 10%;
  margin: 0 25%;
}

#profile-form {
  padding: 0.8em 2em 1em 2em;
}

#animal-profile-page [data-role="main"] ul {
  width: 100%;
  top: 0;
}

#animal-profile-page [data-role="main"] ul li {
  text-align: center;
}

/*#animal-profile-page [data-role="main"] ul li img {
  width: 50%;
  align-self: center;
}*/

#animal-profile-page [data-role="main"] ul li a {
  height: 50%;
  text-align: center;
}

#animal-profile-page [data-role="main"] ul li a img {
  height: 100%;
}

[data-role="back"]{
  width:28px;
  padding-top: 10px;
}



/* ANIMAL PROFILE PAGE */
.animal-top {
  flex:none;
  height:40vh;
  background-position:center;
  background-size:cover;
  position:relative;
}
.animal-bottom {
  flex:1 1 100%;
  position:relative;
  overflow:hidden;
}
.animal-bottom-section {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:20px;

}
.animal-nav {
  text-align:center;
}

.animal-nav li {
  position:relative;
}
.animal-nav .active::after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3px;
  background-color:var(--color-main-medium);
}
.animal-bottom-section {
  display:none;
}
.animal-bottom-section.active {
  display:block;
}
/* animal list */
.animallist {
}
.animallist-item {
  font-weight:normal;
  margin: 1em;
  border-radius: 2em 0.5em 2em 0.5em;
  overflow: hidden;
  box-shadow: 0px 3px 20px 6px rgb(156 181 108 / 61%);
  transition: all 100ms ease-in-out;
}
.animallist-item:hover {
  font-weight:normal;
  margin: 1em;
  border-radius: 2em 0.5em 2em 0.5em;
  overflow: hidden;
  box-shadow: 0px 10px 20px 16px rgb(156 181 108 / 40%);
  transform: translateY(-5%);

}


.animallist-image img{
  width:100px;
  height:100px;
  vertical-align: middle;
  padding: 10px;
  border-radius: 2em 1em 2em 1em;
  object-fit:cover;
}
.animallist-description {
  padding:1em;
}
.animallist-name {
      font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 2px;
}
.animallist-info {
  font-size: 0.9em
}


.animal-image-thumb img {
  width:7em;
  height:7em;
  border-radius: 2em 0.5em 2em 0.5em;
  vertical-align: middle;
  margin: 10px;
  object-fit: cover;
}







.animal-jump * {
  pointer-events:none;
}

/* ICONS */
.icon svg,
.icon img {
  width:1em;
  height:1em;
  vertical-align: text-bottom;
}


.title-icons .title,
.title-icons .icon {
  display:block;
}
.title-icons .icon {
  line-height:calc(var(--header-height)*(2/3));
  font-size:1.5em;
}
.title-icons .title {
  line-height:calc(var(--header-height)*(1/3));
  font-size:0.7em;
}

/* FLOATERS */
.floater { position:absolute; }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding: 12px;
  display:block;
}

.icon .icon img{
  box-shadow: none;
}

.animal-name{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--color-main-dark);
    margin-bottom: 10px;
}

.animal-type{
   font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 2px;
}

.animal-description{
  margin-top: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 1em;
  margin-bottom: 30px;
}

.bg-white{
  background-color: white;
  border-radius: 17px;
}

/*margin*/
.mg-10px{
  margin:10px;
}

.mg-18px{
  margin:18px;
}






.circle-button {
  display:inline-block;
  vertical-align:middle;
  background-color:white;
  box-shadow: 0px -1px 20px 6px rgb(199 239 124 / 61%);
  border-radius:50%;
  height:var(--header-height);
  line-height:var(--header-height);
  width:var(--header-height);
  text-align:center;
  font-size:2em;
  color:var(--color-main-dark);
  transition: all 200ms ease-in-out;
}



.circle-button:hover {
  transform: translateY(-30%) rotate(180deg);
  box-shadow: 0px -10px 20px 20px rgb(199 239 124 / 21%);

}






/* remove this later */
.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}





















.user-profile-image {
  text-align: center;
   position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    background-color: var(--color-main-light);
}

.user-profile-image>img {
       width: 70%;
    height: 70%;
    border-radius: 7em 5em 7em 5em;
    position: absolute;
    left: 17%;
    top: 17%;
    object-fit: cover;
}


.image-uploader.full {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}
.image-uploader.full input{
  display:none;
}



.filter-set {
  overflow:auto;
}
.filter {
  font-weight:bold;
  padding:0 0.5em;
}


.user-profile-description{
    margin: 20px;
    line-height: 27px;
    color:var(--color-main-dark);
}

.user-profile-name{
  font-size: 20px;
    font-weight: 700;
}

/* bg shortcodes */
.bg-gradient1,
.bg-gradient1:before {
  background: var(--color-neutral-green);
  
}

.bg-gradient2,
.bg-gradient2:before {
  background:var(--color-neutral-green);
  
}


/* ICON SWAP */
.icon-swap {
  width:1em;
  height:1em;
  display:inline-block;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.icon-swap.map-icon { background-image:url(../images/map1.png); }
.sploofactive .icon-swap.map-icon { background-image:url(../images/list1.png); }
.icon-swap.list { background-image:url(../images/list1.png); }
.icon-swap.pencil { background-image:url(../images/pencil1.png); }

/* shadow */

.box-shadow{
  box-shadow: 0px 2px 20px 20px rgb(84 103 50 / 17%)
}

.box-shadow-icon{
  box-shadow:0px -1px 17px 8px rgb(49 49 49 / 24%);
}



