/* Accordian */
.accordian dt {
	background-color: #adadad;
	padding: 0.5em calc(1em + 2px);
	

}

.accordion dt~dt{
	margin-top:1em;
}

.accordion dd{
	padding: 1em;
	margin-left: #adadad;
	border-top-width: 0;
	display: none;
}

/* Tab Group */
.tabgroup{}
.tabgroup .tabs{(--color-neutral-light)
};

.tabgroup .tab{
    padding: 0.5em 1em;
    position: relative;

}
.tabgroup .tab:hover{
    background-color: var(--color-neutral-light);
    cursor:pointer;
}

.tabgroup .tab:after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%
   height: 0;
   background-color: blue;
   transition: all 0.3s;
}

.tabgroup .contents{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    pointer-events: none;
    opacity: 0;
}

.tabgroup .content.active{
    opacity: 1;
    pointer-events: initial;
}

